{%- extends "base.html" %}
{%- from "bootstrap/pagination.html" import render_pagination %}

{%- block content %}
<div class="container">
    <ul class="post-list">
    {%- for post in posts.items %}
        <div class="post-container">
            <li class="post"><a href="{{ url_for('redditpost', id_=post.id) }}" >{{ post.title }}</a></li>
            <div class="faded">{{ post.text|markdown|striptags|truncate(255) }}</div>
            <div class="faded">
                by <a href="https://reddit.com/u/{{post.author}}">{{ post.author }}</a> |
                <a href="{{ post.np_link }}">original</a> |
                Last updated: {{ post.last_update|datetimeformat }}
            </div>
        </div>
    {%- endfor %}
    </ul>

    {{ render_pagination(posts) }}
</div>
{%- endblock %}
