{%- extends "base.html" %}

{% block content %}
<div class="container">
    {% for post in posts %}
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h2>{{ post.title }}</h2>
            <div class="faded">
                by <a href="https://reddit.com/u/{{post.author}}">{{ post.author }}</a> |
                <a href="{{ post.np_link }}">comments</a> |
                Score: {{ post.score }}
            </div>
            <p>{{ post.text | urlize(40) | markdown }}</p>
            <hr>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}
